/web/node_modules
/web/dist
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/vendor
/api/.idea
/api/.vagrant
/api/Homestead.json
/api/Homestead.yaml
/api/npm-debug.log
/api/yarn-error.log
/api/.env
/api/.docker/dbdata
/.idea
/.vs
/apiv2/public/hot
/apiv2/public/storage
/apiv2/storage/*.key
/apiv2/vendor
/apiv2/.idea
/apiv2/.vagrant
/apiv2/Homestead.json
/apiv2/Homestead.yaml
/apiv2/npm-debug.log
/apiv2/yarn-error.log
/apiv2/.env
/apiv2/.docker/dbdata

